/*CONTACT US FORM*/

*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: helvetica;
		}
body{
			background-color: rgb(226,226,226);
}
.main{
			width: 500px;
			margin: 50px auto;
			border-radius: 10px;
			border: 5px solid #9c8190;
			border-left: 40px solid #9c8190;
			box-shadow: 1px 2px 10px #555;
}
.info{
			width: 100%;
			background-color: #9c8190;
			padding: 7px;
			text-shadow: 1px 1px 1px #222;
			color: #fff;
			font-size: 20px;
}
.form-box{
			padding: 20px;
			background-color: #eee;
}
label{
			color: navy;
			font-size: 18px;
}
.inp,.msg-box{
			width: 100%;
			padding: 10px;
			margin-top: 4px;
			margin-bottom: 5px;
			border-radius: 5px;
			border: 2px solid #9c8190;
			font-weight: bold;
			color: black;
			border-right: 15px solid #9c8190;
			border-left: 15px solid #9c8190;
			resize: none;
            }
.msg-box{
			height: 80px;
		}
.inp:focus,.msg-box:focus{
			outline: none;
			border: 2px solid navy;
			border-right: 15px solid navy;
			border-left: 15px solid navy;
		}
.sub-btn{
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			margin-top: 5px;
			border: none;
			background: linear-gradient(#b30000,#800000);
			cursor: pointer;
			color: #fff;
			font-size: 20px;
			text-shadow: 1px 1px 1px #444;
		}
.sub-btn:hover{
			background: linear-gradient(#800000,#dc143c);
			opacity: 0.8;
			transition: all ease-out 0.2s;
}
.sub-btn:focus{
			outline: none;
}
@media(max-width: 720px){
			.main{
				width: 90%;
			}
}


/*FOOTER*/

/*page wrapper*/
.page-wrapper{
    min-height: 100%;
}

/*FOOTER*/

.footer{
    width: 97.50vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 60px;
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 20px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h1{
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: 'arial';
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    color: white;
    font-family: 'arial';
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width:720px){
    
    .footer .inner_footer{
        width: 90%;
    }
    
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

